// Frevo7/boot linker command file for 18F452

LIBPATH  .

FILES clib.lib
FILES p18f452.lib

////////////////////// ROM SECTIONS ///////////////////////////

// page pour les vecteurs proteges
CODEPAGE   NAME=vecto_pg  START=0x0        END=0x1F       PROTECTED

// bootloader I2C
CODEPAGE   NAME=jlnp1     START=0x20       END=0x2FF      PROTECTED

// fin zone protegee I2C : vecteur vers startup appli (securise) et irtnl
CODEPAGE   NAME=finpr_pg  START=0x300      END=0x347      PROTECTED

// bootloader UDP
CODEPAGE   NAME=jlnp2     START=0x348      END=0x0EBF     PROTECTED

// fin zone protegee UDP : vecteur vers startup appli (securise) et irtnl
CODEPAGE   NAME=finp2_pg  START=0x0EC0      END=0x0F07    PROTECTED

// page libre pour les bibliotheques du C dont le startup
CODEPAGE   NAME=page      START=0x0F08     END=0x2FFF

// pages pour notre code
CODEPAGE   NAME=jlnp3     START=0x3000     END=0x3FBF     PROTECTED
CODEPAGE   NAME=jlnp2b    START=0x3FC0     END=0x3FFF     PROTECTED

// a partir de 4000, seulement pour 18F452 (pas 18F442)
CODEPAGE   NAME=jlnp4     START=0x5000     END=0x7FFF     PROTECTED

// annexes
CODEPAGE   NAME=idlocs    START=0x200000   END=0x200007   PROTECTED
CODEPAGE   NAME=config    START=0x300000   END=0x30000D   PROTECTED
CODEPAGE   NAME=devid     START=0x3FFFFE   END=0x3FFFFF   PROTECTED
CODEPAGE   NAME=eedata    START=0xF00000   END=0xF000FF   PROTECTED

SECTION NAME=vecto_scn ROM=vecto_pg
SECTION NAME=jln_lib1  ROM=jlnp1
SECTION NAME=finpr_scn ROM=finpr_pg
SECTION NAME=jln_lib2  ROM=jlnp2
SECTION NAME=finp2_scn ROM=finp2_pg
SECTION NAME=ipnum_scn ROM=jlnp2b

SECTION NAME=jln_lib3  ROM=jlnp3
SECTION NAME=jln_txta  ROM=jlnp4

////////////////////// RAM SECTIONS ///////////////////////////

// access RAM
ACCESSBANK  NAME=accessram  START=0x0      END=0x6F
ACCESSBANK  NAME=accessfix  START=0x70     END=0x7F     PROTECTED
ACCESSBANK  NAME=accesssfr  START=0xF80    END=0xFFF    PROTECTED

// banked RAM
DATABANK    NAME=bankfix    START=0x80     END=0x8F     PROTECTED
DATABANK    NAME=gpr0	    START=0x90     END=0xBF
DATABANK    NAME=i2cfix     START=0xC0     END=0xFF     PROTECTED
DATABANK    NAME=gpr1       START=0x100    END=0x1FF
DATABANK    NAME=gpr2       START=0x200    END=0x2FF    PROTECTED
// a partir de 300, seulement pour 18F452 (pas 18F442)
DATABANK    NAME=gpr3       START=0x300    END=0x3FF
DATABANK    NAME=gpr4       START=0x400    END=0x4FF    PROTECTED
DATABANK    NAME=gpr5       START=0x500    END=0x5FF    PROTECTED

STACK SIZE=0x100 RAM=gpr2

// variables fixes allouees dans fix_var.c
SECTION NAME=fix_acc   RAM=accessfix
SECTION NAME=fix_var   RAM=bankfix

// buffers I2C alloues dans i2csla3_int.asm
SECTION NAME=i2c_dat   RAM=i2cfix

// etc..
SECTION NAME=eth_dat   RAM=gpr1
